@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

*{padding:0px;
margin:0px;}

/**navbar**/
#links{
    display:inline;
 
}
#navbar{
    padding:15px;
    border: 1px solid black;
    text-align: right;
    background-color: rgb(123, 146, 89);
    text-shadow: black;
   
}

#home{
    color:white; 
    font-weight: bolder; 
    text-shadow: black;
}
#galle{
    color:white;
    font-weight: bolder;
}

#logo{
    float:left;
    background-image: url(me.jpg);
    width: 25px;
    height: 25px;
    border-radius: 1px;
}


 /**banner**/
.banner{
    background-image: url(me.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 85vh;
    
}

.banner h1{
    color:rgb(22, 56, 27);
    font-size: 10vh;
    text-shadow: black;
    text-align: center;
    font-family: 'Young Serif', serif;
    text-decoration: underline;
    padding-top: 10vh;
    padding-left: 10vw;
    padding-right: 10vw;

}

.banner h1 span{
    color:rgb(32, 48, 31);
}

.banner p{
    font-family:'Josefin Sans', sans-serif; 
    color: whitesmoke;
    text-align: center;
}
.banner a{
    background-color:rgb(123, 146, 89);
    border: 1px solid white;
    margin-left: 15vw;
    padding: 13px;
    color: white;
    text-decoration: none;

}


#footer{
    padding:15px;
    border: 1px solid green;
    background-color: rgb(123, 146, 89);
   

}

#footer #foot{
    color:whitesmoke;
    font-size: smaller;
    display: inline;
}

.twt img{
    height: 5vh;
    float: right;
}
